.sidebar{
  background: var(--primery);
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out;
}

/*-------------------
 login style 
 --------------------*/
 
.login{
  background: url("/images/login/background.png") no-repeat center center;
  background-size: cover;
  padding: 80px 80px;
  border-radius: 8px;
  position: relative;

}
.login_img{
padding: 80px 80px 0;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
display: grid;
place-items: center;
place-content: end;
animation: floatAnimation 6s ease-in-out infinite;
animation-delay: 2s;
}
.login_img img{
  width: 100%;
}
.flying_logo img{
  width: 100px;
  height: 100px;
  position: absolute;
  position: absolute;
  animation: floatAnimation 6s ease-in-out infinite;
   
}
.flying_logo img:first-child{
  left: 20px;
  bottom:20%;
  animation-delay: 0s;
}
.flying_logo img:last-child{
  right: 20px;
  top:20% ;
  animation-delay: 1s;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(-20px); /* Moves up */
  }
  100% {
    transform: translateY(0); /* Moves back down */
  }
}

.logo{
  display: grid;
  place-items: center;
  place-content: center;
}
.logo img{
  width: 40%;
  object-fit: contain;
}
.login_content{
  padding:0px 160px;
  height: 100%;
  display: grid;
  place-content: center;
}
.login_btn{
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  border-radius: var(--borderRadius);
}
.forgot{
  display: grid;
  place-items: end;
}
.forgot a{
  font-size: 16px;
  color: var(--primery);
  font-weight: 700;
}
/*-------------------
 Types pagr style 
 --------------------*/
.type_form input,
.type_form select,
.type_form .css-b62m3t-container{
  margin: 0 !important;
}
 .type_form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  place-content: center;

 }
 .type_form input{
  border:1px solid #ccc;
  font-weight: bold;
 }
 .type_form select{
   width: 100%;
   padding: 20px;
   border: 2px solid #282C35;
   margin-top: 10px;
   border-radius: var(--borderRadius);
   color: var(--primery);
 }
 .filter-option{
  position: absolute;
  right: 0;
  top: 60px;
  display: grid;
  gap: 10px;
  padding: 20px;
  background: var(--primery);
  border-radius: var(--borderRadius);
 }
 .filter-option button{
  text-align: right;
 }
 .tables{
  padding: 40px;
  margin-top: 30px;
  border: 1px solid #D3CBFB;
  box-shadow: #d3cbfbb1 0px 2px 8px 0px;
  border-radius: var(--borderRadius);

 }
 .table-content thead{
  background: #FAFAFA;
  border-radius: var(--borderRadius);
 }
 .table-content thead tr{
  border-radius: var(--borderRadius); 
 }
 .table-content thead th{
  padding: 10px;
  color: var(--primery);
  text-align: left;
  font-weight: 700;
 }
 .table-content thead th:last-child{
  text-align: end;
 }
 .table-content tr td{
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
 }
 .table-content tr td:last-child{
  text-align: end;
 }
 .file_upload{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #35095E, #6F13C4);
  padding: 1rem 3rem;
  margin: 0;
  border-radius: 0.5rem;
  color: white;
  font-size: 20px;
 }
 .file_icon{
  background: linear-gradient(to top, #35095E, #6F13C4);
  padding: 10px;
  border-radius: 100px;
 }
 /* Add this to styles.css or inside your global CSS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
